{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-plugin-eslint-comments/recommended",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "ignorePatterns": [".eslintrc", "dist/**/*"],
  "rules": {
    "eslint-comments/disable-enable-pair": "off",
    "curly": 1
  }
}
